# Assignment 1 - Python Basics Practice

In this assignment, you'll get to practice some of the concepts and skills covered in the following notebooks:

1. First Steps with Python and Jupyter
2. A Quick Tour of Variables and Data Types
3. Branching using Conditional Statements

As you go through this notebook, you will find a **???** in certain places. To complete this assignment, you must replace all the **???** with appropriate values, expressions or statements to ensure that the notebook runs properly end-to-end.

## Problem 1 - Variables and Data Types

**Q: Assign your name to the variable `name`.**

In [1]:
name = "Omayma"

**Q: Assign your age (real or fake) to the variable `age`.**

In [2]:
age = 37

**Q: Assign a boolean value to the variable `has_android_phone`.**

In [3]:
has_android_phone = True

You can check the values of these variables by running the next cell.

In [4]:
name, age, has_android_phone

('Omayma', 37, True)

**Q: Create a dictionary `person` with keys `"Name"`, `"Age"`, `"HasAndroidPhone"` and values using the variables defined above.**

In [11]:
person = {
    "Name" : name,
    "Age" : age,
    "HasAndroidPhone" : has_android_phone
}

Let's use the `person` dictionary to print a nice message.

In [13]:
if person['HasAndroidPhone']:
  print(f"Hi {person['Name']},\nYou are {person['Age']} years old and you have an android phone")
else:
  print(f"Hi {person['Name']},\nYou are {person['Age']} years old and you don't have an android phone")

Hi Omayma,
You are 37 years old and you have an android phone

\**Q (Optional): Use a `for` loop to display the `type` of each value stored against each key in `person`.**

Here's the expected output for the key `"Name"`:

```
The key "Name" has the value "Derek" of the type "<class 'str'>"
```

In [16]:
# this is optional
for key in person.keys():
  print(f"The key \"{key}\" has the value \"{person[key]}\" of the type \"{type(person[key])}\"")

The key "Name" has the value "Omayma" of the type "<class 'str'>"
The key "Age" has the value "37" of the type "<class 'int'>"
The key "HasAndroidPhone" has the value "True" of the type "<class 'bool'>"

## Problem 2 - Working with Lists

**Q: Create a list containing the following 3 elements:**

* your favorite color
* the number of pets you have
* a boolean value describing whether you have previous programming experience

In [20]:
my_list = ['navy blue', 0, True]

Let's see what the list looks like:

In [21]:
my_list

['navy blue', 0, True]

**Q: Complete the following `print` and `if` statements by accessing the appropriate elements from `my_list`.**

*Hint*: Use the list indexing notation `[]`.

**Q: Add your favorite single digit number to the end of the list using the appropriate list method.**

In [22]:
my_list.append(7)

Let's see if the number shows up in the list.

In [23]:
my_list

['navy blue', 0, True, 7]

**Q: Remove the first element of the list, using the appropriate list method.**

*Hint*: Check out methods of list here: https://www.w3schools.com/python/python_ref_list.asp

In [24]:
my_list.pop(0)

'navy blue'

In [40]:
my_list

[0, True, 7]

**Q: Complete the `print` statement below to display the number of elements in `my_list`.**

In [25]:
print(len(my_list))

3

Well done, you're making good progress! Save your work before continuing

## Problem 3 - Conditions and loops

**Q: Calculate and display the sum of all the numbers divisible by 7 between 18 and 534 i.e. `21+28+35+...+525+532`**.

*Hint*: One way to do this is to loop over a `range` using `for` and use an `if` statement inside it.

In [32]:
# store the final answer in this variable
sum_of_numbers = 0

# perform the calculation here
for i in range(18,534):
  if i % 7 == 0:
    sum_of_numbers += i
    print(i, end=" + ")
print("\b\b")

21 + 28 + 35 + 42 + 49 + 56 + 63 + 70 + 77 + 84 + 91 + 98 + 105 + 112 + 119 + 126 + 133 + 140 + 147 + 154 + 161 + 168 + 175 + 182 + 189 + 196 + 203 + 210 + 217 + 224 + 231 + 238 + 245 + 252 + 259 + 266 + 273 + 280 + 287 + 294 + 301 + 308 + 315 + 322 + 329 + 336 + 343 + 350 + 357 + 364 + 371 + 378 + 385 + 392 + 399 + 406 + 413 + 420 + 427 + 434 + 441 + 448 + 455 + 462 + 469 + 476 + 483 + 490 + 497 + 504 + 511 + 518 + 525 + 532 + 

In [31]:
print('The sum of all the numbers divisible by 7 between 18 and 534 is', sum_of_numbers)

The sum of all the numbers divisible by 7 between 18 and 534 is 20461

## Problem 4 - Flying to the Bahamas

**Q: A travel company wants to fly a plane to the Bahamas. Flying the plane costs 5000 dollars. So far, 29 people have signed up for the trip. If the company charges 200 dollars per ticket, what is the profit made by the company?**

Fill in values or arithmetic expressions for the variables below.

In [33]:
cost_of_flying_plane = 5000

In [34]:
number_of_passengers = 29

In [35]:
price_of_ticket = 200

In [36]:
revenue = number_of_passengers * price_of_ticket
print(revenue)

5800

In [37]:
profit = revenue - cost_of_flying_plane
print('The company makes of a profit of {} dollars'.format(profit))

The company makes of a profit of 800 dollars

**Q : Out of the 29 people who took the flight, only 12 buy tickets to return from the Bahamas on the same plane. If the flying the plane back also costs 5000 dollars, and does the company make an overall profit or loss? The company charges the same fee of 200 dollars per ticket for the return flight.**

Use an `if` statement to display the result.

In [38]:
# this is optional
return_passengers = 12
return_profit = (return_passengers * price_of_ticket) - cost_of_flying_plane
print(return_profit)

-2600

In [39]:
# this is optional
if return_profit > 0:
    print("The company makes an overall profit of {} dollars".format(return_profit))
else:
    print("The company makes an overall loss of {} dollars".format(abs(return_profit)))

The company makes an overall loss of 2600 dollars